.section_cont {
    background-color: black;
    padding: 6.25rem 0;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.app_showcase_cont {
    display: flex;
    position: relative;
    overflow: auto;
    width: 100%;
    justify-content: space-between;
    gap: 3.12rem;
}

.cards_cont {
    display: flex;
    align-items: center;
    gap: 3.12rem;
    flex-wrap: nowrap;
    width: fit-content;
}

.mobile_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.625rem;
    width: 18.28125rem;
    height: 41.125rem;
}

.web_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.625rem;
    width: 48.25rem;
    height: 31.375rem;
}


@keyframes scroll-to-lft {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.app_showcase_cont:hover .scroll_to_lft{
    animation-play-state: paused;
}
.app_showcase_cont:hover .scroll_to_rgt{
    animation-play-state: paused;
}

.scroll_to_lft {
    animation: scroll-to-lft 150s linear infinite;
    transition: all .3s ease-in;
}

.scroll_to_rgt {
    animation: scroll-to-lft 220s linear reverse infinite;
    transition: all .3s ease-in;
}

.img_cont{
    background-color: #FFF;
    height: 95%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border-radius: 0.625rem;
    position: relative;
    overflow: hidden;
}
.img_cont .img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.app_name{
    color: #FFF !important;
    font-family: Inter;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn_cont{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100rem;
    margin: 0 auto;
    width: 100%;
}

@media(max-width: 1024px){
  .btn{
    width: 20% !important;
  }
}
@media(max-width: 600px){
    .section_cont{
        padding: 10vw 0;
        gap: 10vw;
    }

    .mobile_card{
        height: 97vw;
        width: 41vw;
        gap: 3vw;
    }
    .web_card{
        height: 65vw;
        width: 93vw;
        gap: 3vw;
    }

    .cards_cont{
        gap: 4vw;
    }

    .btn{
        width: 50% !important;
      }
}