.navigation {
    display: flex;
    max-width: 100rem;
    height: 4.25rem;
    justify-content: center;
    align-items: center;
    gap: 5rem;

    background-color: white;

    position: sticky;
    top: -1px;
    z-index: 3;

    margin: 0 auto;
}

.navigation a {
    text-align: center;
    font-family: Inter;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.active {
    background: linear-gradient(268deg, #FB6AB8 0.93%, #A533FF 98.33%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media(max-width: 1024px){
    .navigation{
        gap: 3rem;
    }
}
@media(max-width: 600px){
    .navigation{
       display: none;
    }
}