.main_sec_cont {
    position: relative;
    overflow: hidden;
    height: 34.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text_wraper {
    position: relative;
    z-index: 1;
}

.main_heading {
    color: var(--shades-tint-light-dark, #FFF);
    text-align: center;
    font-family: Inter;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    max-width: 42rem;
}

.para_line {
    color: var(--shades-tint-light-dark, #FFF);
    text-align: center;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875rem;
    /* 150% */
    margin-top: .94rem;
}

@keyframes shine {
    to {
        background-position: 200% center;
    }
}

.contact_link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .62rem;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.0625rem;
    text-transform: uppercase;

    background: linear-gradient(to right, #FFF 20%,#8F00FF 40%,#FD53B9 60%, #FFF 80%);
    background-size: 200% auto;

    color: #000;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    margin-top: 2.5rem;

    animation: shine 9s normal infinite;

    cursor: pointer;
}

.black_color{
    background: linear-gradient(to right, black 20%,#8F00FF 40%,#FD53B9 60%, black 80%);
    background-size: 200% auto;

    color: #000;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gredient_animation {
    text-align: center;

    background: linear-gradient(to right, #9453FD 20%, #FD53B9 40%, #9453FD 80%);
    background-size: 200% auto;

    color: #000;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: shine 9s normal infinite;
}

@media(max-width:600px){
    .animated_cursors{
        display: none;
    }

    .main_heading{
        font-size: 7vw;
        margin-bottom: 3vw;
    }

    .para_line{
        font-size: 3vw;
        max-width: 70%;
        line-height: initial;
        margin: 0 auto;
    }

    .contact_link{
        font-size: 3vw;
    }
    .main_sec_cont{
        width: 100%;
        height: 98vw;
    }
}